.main {
  background-image: url('W:\coffee\frontend\src\assets\Screenshot 2024-11-07 221749-Photoroom.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

}

.crop {

  margin-top: 40vh;
  margin-left: 10vw;


}

.coffee-heading {
  color: #70362b;
  font-size: 3rem;
  margin-bottom: 20px;
}

.coffee-paragraph {
  font-size: 1.4rem;
  color: rgb(109, 106, 106);
}

.seemenu {
  background-color: #70362b;
  padding: 10px;
  font-size: 23px;
  margin-top: 20px;
  border: 1px solid;
  color: aliceblue;
}

.services-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  margin-top: 30px;
  background-color: #fff;
}

.services-left {
  width: 40%;
  text-align: left;
  margin-left: 8vw;
}

.services-left h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.services-left p {
  font-size: 1.3em;
  color: rgb(109, 106, 106);

}

.services-right {
  width: 55%;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.service {
  width: 45%;
  /* Makes each service take up 45% width in the top row */
  margin: 20px 0;
  text-align: center;

}

.service img {
  width: 100px;
  height: 80px;
}

.service h3 {
  margin-top: 10px;
  font-size: 1.5em;
}

.service p {
  margin-top: 5px;
  font-size: 1em;
  color: rgb(109, 106, 106);
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom-row .service {
  width: 45%;
  /* Makes each service take up 45% width in the bottom row */
}

.contactusbtn {
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  font-size: 18px;
  width: 8.5rem;
  border: 1px solid black;
}

.centerfind {
  text-align: center;
  margin-bottom: 30px;
}

.centerfind h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.centerfind p {
  font-size: 1.4rem;
  color: rgb(109, 106, 106);
}

.imgsection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.imgsection .details {
  margin: 25px;

  width: 19vw;
  height: 16rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.imgsection .details .myimg {
  width: 100%;
  height: 75%;
  border-radius: 20px;
}

.placename {

  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  height: 3.5rem;
}

.menusection {
  margin-top: 50px;

}

.menu-details {
  text-align: center;

}

.menu-details p {
  font-size: 1.3rem;
  color: rgb(109, 106, 106);
}

.menu-items-container {

  background-color: #f1dfd1;
  margin: 7vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  height: auto;
  border-radius: 25px;
}

.menu-item {
  margin-bottom: 4%;
  width: 33%;
  display: flex;


}

.item-img {
  width: 8rem;
  height: 8rem;
  border-radius: 15px;

}

.nameprice {
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.nameprice p {
  font-weight: bold;
  font-size: larger;
  margin-left: 15px;
}

#price {
  font-weight: lighter;
  color: rgb(109, 106, 106);
}

.feedback {

  background: rgba(0, 0, 0, 0.5)url('https://static01.nyt.com/images/2023/09/21/multimedia/00uk-coffee-01-qzwv/00uk-coffee-01-qzwv-superJumbo.jpg?quality=75&auto=webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-blend-mode: darken;
  display: flex;

}

.forimg {


  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.forimg .imgg {
  width: 27vw;
  border: 3px solid white;
  border-radius: 20px;
  height: 60vh;
  position: absolute;
  margin-bottom: 5rem;
}

.forquote {

  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forquote p {
  text-align: center;
  color: white;
  font-size: 2rem;

}

.forimg .frame{
  border: 9px solid white;
  border-radius: 15px;
width: 28vw;
height:60vh ;
margin-left: 6vw;
margin-top: 13vh;

}

.rating p{
  color: white;
  margin-top: 30px;
  font-size: 20px;
}


.rating {
  display: flex;
}

/* Star styles */
.star {
  font-size: 40px;
  color: yellow;  /* Default color (unselected star) */
  cursor: pointer;
  transition: color 0.3s;
}

