.itemdetail{
    display: flex;
 justify-content: center;
 margin: 10%;  

}

.itemdetail .img{
width: 40vw;
border: 1px solid black;

text-align: center;

}

.itemdetail .img img{
width: 80%;
margin-top: 5vh;
}

.itemdetail .detail {
text-align: center;
width: 50vw;

}

.itemdetail .detail #row1{

height: 60vh;
}

.itemdetail .detail #row2{
   
    height: 10vh;
    }
    

.itemdetail .detail h1{
    margin: 2%;
}
.itemdetail .detail p{
    margin: 5%;
}

.itemdetail .detail div button{
    background-color:rgb(170, 197, 170);
    width: 7rem;
    height: 3rem;
    float: right;
    margin-left: 5%;
}

.itemdetail .detail div input{
    width: 6rem;
    height: 3.2rem;
    border-radius: 5px;
    font-size: 2rem;


}
